*{margin: 0; line-height: 1; padding: 0; box-sizing: border-box;}

#root{margin: 20px auto; padding: 0 50px;}

input{width: 100%; padding: 10px 20px; border: 1px solid #ddd;}
button{width: 100%; padding: 10px 0; background: skyblue; color: #fff; margin-top: 20px; border: none; outline: none;}